body{
background-image: url("table.png");
background-repeat: no-repeat;
background-size: cover;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align:center;
color: white;
font-weight:bold;
}

h1{
color:goldenrod;
}
#message-el{
font-style: italic;
}
button{
color: darkgreen;
width: 150px;
background-color: goldenrod;
padding-top:5px;
padding-bottom:5px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight:bold;
border:none;
border-radius:5px;
margin-bottom: 5px;
}
